/* importamos las fuentes */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700&family=Yellowtail&display=swap');
*{
    font-family: "Titillium Web";
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

/*SECCION INICIO*/
.inicio{
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("img/head.png");
    background-size: cover;
    background-position: center;
    color: #fff;
}
.inicio .contenido-seccion{
    max-width: 1000px;
    margin: auto;
    text-align: center;
    padding: 0 10px;
}
.inicio .contenido-seccion header{
    padding: 30px;
}
/* Menu lateral */
.inicio .contenido-seccion header nav{
    position: fixed;
    margin-left: 60px;
    background-color: #075e1d;
    padding: 15px;
    border-radius: 10px;
    text-align: left;
    z-index: 99;
    display: none;
}
.inicio .contenido-seccion header nav a{
    display: block;
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
    font-weight: bold;
}
/* ***************** */
.inicio .contenido-seccion header .logo{
    font-weight: bold;
    font-size: 2.5rem;
    font-family: "Yellowtail";
    text-shadow: 0 0 35px #075e1d;
}
.inicio .contenido-seccion header .logo .color{
    color: #ffffff;
    font-family: "Yellowtail";
   
}
.inicio .contenido-seccion header .nav-bar{
    position: fixed;
    background-color: #075e1d;
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    cursor: pointer;
    transition: .3s;
}
.inicio .contenido-seccion header .nav-bar:hover{
    box-shadow: 0 0 35px #fff;
}
.inicio .contenido-seccion .info{
    padding-bottom: 130px;
    text-shadow: 2px 2px 3px black, 0 0 2em blue, 0 0 0.3em rgb(21, 255, 0);
}
.inicio .contenido-seccion .info h1{
    font-size: 3rem;
    letter-spacing: 5px;
    text-shadow: 2px 2px 3px black, 0 0 2em blue, 0 0 0.3em rgb(0, 255, 34);
}
.inicio .contenido-seccion .info h2{
    font-weight: normal;
    font-size: 20px;
    margin-top: -10px;
    letter-spacing: 2px;
}
.inicio .contenido-seccion .info .redes{
    margin: 20px 0;
}
.inicio .contenido-seccion .info .redes a{
    display: inline-block;
    text-decoration: none;
    background-color: #000;
    color: #6f63dd;
    border: 1px solid #075e1d;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0 5px;
    transition: .3s;
}
.inicio .contenido-seccion .info .redes a:hover{
    color: #fff;
    background-color: #6c64b1;
    box-shadow: 0 0 20px #fff;
}
.inicio .contenido-seccion .foto{
    position: relative;
}
.inicio .contenido-seccion .foto img{
    background-color: #c4c6e2;
    max-width: 200px;
    border-radius: 50%;
    border: 5px solid #075e1d;
    position: absolute;
    left: 50%;
    top: -100px;
    transform: translateX(-50%);
}
/* estilos generales */
.titulo-seccion{
    font-family: "Yellowtail";
    font-size: 1.5rem;
}
/* SECCION SOBRE MI */
.sobremi{
    background-color: #e6e6e6;
    padding: 140px 0 100px 0;
    text-align: center;
}
.sobremi .contenido-seccion{
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}
.sobremi .contenido-seccion h3{
    text-transform: uppercase;
    font-size: 30px;
}
.sobremi .contenido-seccion .especial{
    color: #075e1d;
    font-weight: bold;
    margin-top: 15px;
}
.sobremi .contenido-seccion p{
    max-width: 700px;
    margin: auto;
    color: #666;
}
.sobremi .contenido-seccion .fila{
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}
.sobremi .contenido-seccion .fila .col{
    width: 30%;
}
.sobremi .contenido-seccion .fila .col i{
    color: #12ad53;
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 2px solid #075e1d;
    line-height: 40px;
    border-radius: 50%;
}
.sobremi .contenido-seccion .fila .col span{
    display: block;
    font-weight: bold;
    margin: 8px 0;
}
.bandera{
    /* width: 200px; */
    height: 120px;
    padding-top: -310px;
    margin-top: -29px;
   
    
}
/*SECCION HABILIDADES*/
.habilidades{
    padding: 80px 0 100px 0;
    text-align: center;
    background: linear-gradient(rgba(255, 255, 255, 0.356), rgba(1,0,2,.3)),
    url("img/fullstack.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    color: #fff;
}
.habilidades .contenido-seccion{
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}
.habilidades .contenido-seccion h3{
    text-transform: uppercase;
    font-size: 30px;
}
.habilidades .contenido-seccion .fila{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.habilidades .contenido-seccion .fila .col{
    width: 48%;
    text-align: left;
}
.habilidades .contenido-seccion .fila .col .cont-barra{
    display: flex;
    align-items: center;
}
.habilidades .contenido-seccion .fila .barra{
    display: flex;
    border: 1px solid #075e1d;
    padding: 3px;
    border-radius: 3px;
    margin-right: 10px;
}
.habilidades .contenido-seccion .barra .e{
    background-color: #70c0ca;
    width: 20px;
    height: 30px;
    margin-right: 2px;
}
.imagen-con-recuadro{
    position: relative;
    width: 100px;
    height: 100px;
    background-color: antiquewhite;
    border: 4px solid #075e1d;
    border-radius: 50%;
    content: center;
    animation-name: cambiColor;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }
  @keyframes cambiColor {
   0% {background-color: #d7d7f3;} 
   25% {background-color: #acace6;}
   35% {background-color: #56f07c;}
   50% {background-color: #10b93a;}
   75% {background-color: #0a8529;}
   100% {background-color: #097223;}
  }
  .imagen-centrada {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75px;
    height: 75px;
  }
  
/*SECCION RESUMEN*/
.resumen{
    background-color: #e6e6e6;
    padding: 50px 0 100px 0;
    text-align: center;
}
.resumen .contenido-seccion{
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}
.resumen .contenido-seccion h3{
    text-transform: uppercase;
    font-size: 30px;
}
.resumen .contenido-seccion .info{
    text-align: left;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.resumen .contenido-seccion .info .col{
    width: 45%;
}
.resumen .contenido-seccion .info .col .titulo{
    display: inline-block;
    color: #075e1d;
    font-weight: bold;
    border: 2px solid #075e1d;
    padding: 10px;
}
.resumen .contenido-seccion .info .col table{
    margin-top: 30px;
    border-collapse: collapse;
}
.resumen .contenido-seccion .info .col table .datos{
    width: 40%;
    border-bottom: 1px solid #bab9b9;
}
.resumen .contenido-seccion .info .col table h4{
    margin-top: 10px;
}
.resumen .contenido-seccion .info .col table h3{
    font-size: 20px;
    margin-bottom: 5px;
}
.resumen .contenido-seccion .info .col table p{
    font-size: 14px;
}
.resumen .contenido-seccion .info .col table .promedio{
    display: block;
    color: #075e1d;
    margin-top: 10px;
    font-weight: bold;
}
.resumen .contenido-seccion .info .col table .descripcion{
    border-left: 1px solid #bab9b9;
    padding-left: 20px;
}

/* SECCION CONTACTO*/
.contacto{
    background-color: #075e1d;
    padding: 50px 0 100px 0;
    color: #e6e6e6;
    text-align: center;
}
.contacto .contenido-seccion{
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}
.contacto .contenido-seccion h3{
    text-transform: uppercase;
    font-size: 30px;
}
.contacto .contenido-seccion .fila{
    display: flex;
    justify-content: space-around;
}
.contacto .contenido-seccion .fila .col{
    margin-top: 50px;
}
.contacto .contenido-seccion .fila .col h2{
    color: #e9e8f0;
}
.cv{
    color:#fff;
}

/* SECCION RESPONSIVE*/
@media screen and (max-width:800px){
    .habilidades .contenido-seccion .fila{
        display: block;
    }
    .habilidades .contenido-seccion .fila .col{
        width: 100%;
        text-align: center;
    }
    .habilidades.contenido-seccion .fila .col .cont-barra{
        justify-content: center;
    }
    .sobremi .contenido-seccion .fila{
        display: block;
    }
    .sobremi .contenido-seccion .fila .col{
        width: 80%;
        margin:auto;
        margin-top: 20%;
    }
    .resumen .contenido-seccion .info{
        display: block;
    }
    .resumen .contenido-seccion .info .col{
        width: 90%;
        margin: auto;
    }
    .resumen .contenido-seccion .info .col .titulo{
        display: block;
        text-align: center;
    }
    .resumen .contenido-seccion .info .col table{
        margin-top: 10px;
        margin-bottom: 30px;
    }
    .contacto .contenido-seccion .fila{
        display: block;
    }
}